micronaut:
  application:
    name: panel

  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      redoc:
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /swagger-ui/**
      public:
        paths: classpath:public
        mapping: /public/**

datasources:
  default:
    url: ${JDBC_URL:`jdbc:h2:~/panel_db`}
    username: ${JDBC_USER:`user`}
    password: ${JDBC_PASSWORD:`password`}
    driverClassName: ${JDBC_DRIVER:org.h2.Driver}

jpa:
  default:
    entity-scan:
      packages: 'tech.crabs.panel'
    properties:
      hibernate:
        hbm2ddl:
          auto: none
        show_sql: true

flyway:
  datasources:
    default:
      enabled: true
